body {
    padding: 0px;
    margin: 0px;
}

.navbar {
    display: flex;
    padding: 44px 140px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.joystick-container {
    display: flex;
    justify-items: center;
    align-items: center;
}

.joystick-container img {
    width: 86px;
    height: 40px;
    margin-right: 20px;
}

.joystick-container h3 {
    font-size: 45px;
    font-weight: 700;
    color: #0B0223;
    margin: 0 0;
}

.joystick-container span {
    color: #FF42A5;
}

.navbar-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-text p {
    margin: 0 0;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
    margin-right: 32px;
}

.navbar-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 262px;
    height: 56px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}

.navbar-btn p {
    margin-right: 0;
}

.navbar-btn img {
    width: 34px;
    height: 24px;
}

.banner-section {
    padding: 19px 140px 55px 140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.banner-text h2 {
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0px;
}

.banner-text h1 {
    margin: 0px 0px 14px 0px;
    font-size: 96px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-icons p {
    display: flex;
    align-items: center;
    font-size: 20px;
    color: #534C64;
    font-weight: 500;
    margin: 0 0 17px 0;
}

.banner-icons img {
    width: 24px;
    height: 24px;
    margin-right: 5px;
}

.banner-img img {
    width: 580px;
    height: 560px;
}

.banner-btn {
    margin-top: 24px;
}

.banner-btn button {
    padding: 21px 40px;
    text-transform: uppercase;
    border-radius: 48px;
    font-size: 20px;
    font-weight: 600;
    color: white;
    border: 1px solid transparent;
}

#btn1 {
    margin-right: 24px;
    background-color: #FF42A5;
}

#btn2 {
    background-color: #4EC5F7;
}

.gamer-section {
    margin: 54px 0px 120px 0px;
    padding: 0px 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gamer-section img {
    width: 788px;
}

.gamer-text {
    text-align: right;
}

.gamer-text h2 {
    font-size: 48px;
    font-weight: 700px;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0px 0px 14px 0px;
}

.gamer-text .p1 {
    font-size: 18px;
    font-weight: 400;
    color: #534C64;
    margin: 0px 0px 12px 0px;
}

.btn3-container button {
    padding: 21px 40px;
    text-transform: uppercase;
    border-radius: 48px;
    font-size: 20px;
    font-weight: 600;
    color: white;
    border: 1px solid transparent;
    background-color: #FF42A5;
    margin: 0px 0px 10px 0px;
    position: relative;
    top: 0;
    right: 0;
}

.gamer-text p {
    font-size: 24px;
    font-weight: 500;
    line-height: 45px;
    color: #534C64;
    margin: 0px 0px 0px 0px;
}

.gamer-text .quotation {
    font-size: 32px;
    font-weight: 700;
    line-height: 45px;
    color: #534C64;
    align-self: flex-start;
}

.video-section {
    text-align: center;
    margin-bottom: 170px;
}

.video-text {
    margin: 0px 0px 48px 0px;
}

.video-text h2 {
    font-size: 48px;
    font-weight: 700px;
    color: #0B0223;
    margin: 0px 0px 10px 0px;
}

.video-text p {
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    color: #534C64;
}

.video-text span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.video-thumbnail {
    margin: 0px 140px 0px 140px;
}

.thumbnail-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}

.thumbnail-card {
    position: relative;
    display: inline-block;
    width: 300px;
    height: 358px;
}

.thumbnail-card .img1 {
    margin: 0px 0px 19px 0px;
    width: 100%;
    height: 100%;
}

.thumbnail-card p {
    margin: 0;
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.play-button p {
    font-size: 20px;
    font-weight: 600;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 10px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    border-radius: 16px;
    visibility: hidden;
    transition: opacity 0.3s ease;
}

.thumbnail-card:hover .play-button,
.thumbnail-card:hover .overlay {
    opacity: 1;
    visibility: visible;
}

.thumbnail-card:hover .thumbnail-card {
    background: black;
}

.thumbnail-card p {
    text-align: left;
}

.image-overlay {
    margin: 0px 0 185px 0;
    padding: 0 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.overlay-text-container {
    margin: 0px 265px 0px 100px;
}

.overlay-text-container h2 {
    font-size: 48px;
    font-weight: 700px;
    color: #0B0223;
    margin: 0px 0px 0px 0px;
}

.overlay-text-container span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.overlay-text-container p {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #534C64;
    margin: 24px 0px 0px 0px;
    text-align: justify;
}

.overlay-image-container {
    display: inline-block;
    position: relative;
}

.overlay-image-container .img1 {
    width: 434px;
    height: 450px;
    border-radius: 8px;
}

.overlay-image-container .img2 {
    width: 218px;
    height: 265px;
    border-radius: 8px;
    top: 260px;
    left: -109px;
    position: absolute;
}

.available-games {
    margin: 0px 0px 120px 0px;
    padding: 0px 140px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: space-between;
}

.available-games .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #FFF;
    border-radius: 50px;
    padding: 10px 10px;
}

.available-games .btn h6 {
    font-size: 20px;
    color: #0B0223;
    font-weight: 600;
    margin: 0;
}

.available-games .btn img {
    width: 60px;
    height: 60px;
    margin-right: 16px;
}

.btn-container:hover .btn {
    border: 1px solid #FF42A5;
}

.btn-container:hover h6 {
    background: linear-gradient(180deg, #F948B2 0%, #FF42A5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer {
    background: #0B0223;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer .joystick-container {
    padding: 120px 0 56px 0;
}

.footer .joystick-container h3 {
    color: white;
}

.footer-text {
    display: flex;
    gap: 60px;
    padding-bottom: 56px;
}

.footer-text p {
    font-size: 18px;
    color: white;
    font-weight: 600;
    margin: 0;
}

.media-container {
    display: flex;
    gap: 40px;
    padding-bottom: 64px;
}

.media-container img {
    width: 40px;
    height: 40px;
}

.policy-text {
    display: flex;
    gap: 60px;
    padding-bottom: 18px;
}

.policy-text p {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.60);
    ;
    font-weight: 500;
    margin: 0;
}

.copyright-text p {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.60);
    ;
    font-weight: 500;
    margin: 0;
    padding-bottom: 120px;
}

/* responsive small device*/

@media screen and (min-width: 320px) and (max-width:767px) {
    .navbar {
        display: flex;
        flex-direction: column;
        gap: 56px;
        padding: 73px 20px 108px 20px;
    }

    .navbar-text {
        display: flex;
        flex-direction: column;
        gap: 36px;
    }

    .banner-section {
        padding: 0px 20px 96px 20px;
        display: flex;
        flex-direction: column-reverse;
        gap: 50px;
    }

    .banner-img img {
        width: 300px;
        height: 320px;
    }

    .banner-text h2 {
        font-size: 28px;
    }

    .banner-text h1 {
        font-size: 76px;
    }

    .banner-btn button {
        font-size: 18px;
    }

    #btn1 {
        margin-bottom: 24px;
    }

    .gamer-section {
        margin: 0px 0px 78px 0px;
        padding: 0px 20px;
        display: flex;
        flex-direction: column;
    }

    .gamer-text {
        text-align: center;
    }

    .gamer-section img {
        width: 388px;
    }

    .gamer-text p {
        font-size: 18px;
    }

    .gamer-text .quotation {
        font-size: 22px;
    }

    .btn3-container button {
        font-size: 18px;
    }

    .video-section {
        text-align: center;
        margin-bottom: 121px;
    }

    .video-text {
        margin: 0px 0px 51px 0px;
    }

    .video-text h2 {
        font-size: 32px;
    }

    .video-text p {
        font-size: 16px;
    }

    .video-thumbnail {
        margin: 0px 20px 0px 20px;
    }

    .thumbnail-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 80px;
        justify-items: center;
    }

    .image-overlay {
        margin: 0px 0 130px 0;
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        gap: 74px;
    }

    .overlay-text-container {
        margin: 0;
        text-align: center;
    }

    .overlay-text-container h2 {
        font-size: 38px;
    }

    .overlay-text-container p {
        font-size: 16px;
        text-align: center;
    }

    .overlay-image-container .img1 {
        width: 250px;
        height: 266px;
    }

    .overlay-image-container .img2 {
        width: 80px;
        height: 127px;
        top: 200px;
        left: -40px;
    }

    .available-games {
        margin: 0px 0px 100px 0px;
        padding: 0px 20px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }

    .available-games .btn {
        display: flex;
        align-items: center;
        justify-content: space-around;
        border: 1px solid #FFF;
        border-radius: 50px;
        padding: 10px 10px;
    }

    .available-games .btn h6 {
        font-size: 16px;
        color: #0B0223;
        font-weight: 600;
        margin: 0;
    }

    .available-games .btn img {
        width: 40px;
        height: 40px;
    }

    .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-text {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }

    .media-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .policy-text {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        margin-bottom: 28px;
    }

    .policy-text p {
        font-size: 16px;
        color: rgba(255, 255, 255, 0.60);
        ;
        font-weight: 500;
        margin: 0;
    }

    .copyright-text p {
        padding-bottom: 88px;
    }

}

/* responsive medium device*/

@media screen and (min-width: 768px) and (max-width:1023px) {
    .navbar {
        display: flex;
        flex-direction: column;
        gap: 56px;
        padding: 44px 140px;
    }

    .navbar-text {
        display: flex;
        flex-direction: column;
        gap: 36px;
    }

    .banner-section {
        padding: 19px 140px 80px 140px;
        display: flex;
        flex-direction: column-reverse;
        gap: 50px;
    }

    .banner-img img {
        width: 480px;
        height: 460px;
    }

    .banner-text h2 {
        font-size: 48px;
    }

    .banner-text h1 {
        font-size: 96px;
    }

    .banner-btn button {
        font-size: 20px;
    }

    .gamer-section {
        margin: 54px 0px 100px 0px;
        padding: 0px 140px;
        display: flex;
        flex-direction: column;
    }

    .gamer-text {
        text-align: center;
    }

    .gamer-section img {
        width: 588px;
    }

    .gamer-text p {
        font-size: 24px;
    }

    .gamer-text .quotation {
        font-size: 32px;
    }

    .btn3-container button {
        font-size: 20px;
    }

    .video-section {
        text-align: center;
        margin-bottom: 121px;
    }

    .video-text h2 {
        font-size: 48px;
    }

    .video-text p {
        font-size: 18px;
    }

    .video-thumbnail {
        margin: 0px 140px 0px 140px;
    }

    .thumbnail-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 80px;
        justify-items: center;
    }

    .image-overlay {
        margin: 0px 0 130px 0;
        padding: 0 140px;
        display: flex;
        flex-direction: column;
        gap: 74px;
    }

    .overlay-text-container {
        margin: 0;
        text-align: center;
    }

    .overlay-text-container h2 {
        font-size: 48px;
    }

    .overlay-text-container p {
        font-size: 18px;
        text-align: center;
    }

    .overlay-image-container .img1 {
        width: 334px;
        height: 350px;
    }
    .overlay-image-container .img2 {
        width: 118px;
        height: 165px;
        top: 260px;
        left: -59px;
    }
    .available-games {
        margin: 0px 0px 100px 0px;
        padding: 0px 140px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 16px;
    }

    .available-games .btn {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .available-games .btn h6 {
        font-size: 16px;
        color: #0B0223;
        font-weight: 600;
        margin: 0;
    }

    .available-games .btn img {
        width: 40px;
        height: 40px;
    }

    .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-text {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }

    .media-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .policy-text {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        margin-bottom: 28px;
    }

    .policy-text p {
        font-size: 16px;
        color: rgba(255, 255, 255, 0.60);
        ;
        font-weight: 500;
        margin: 0;
    }

    .copyright-text p {
        padding-bottom: 88px;
    }

}