body {
    padding: 0px;
    margin: 0px;
}

.navbar {
    display: flex;
    padding: 44px 240px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.joystick-container {
    display: flex;
    justify-items: center;
    align-items: center;
}

.joystick-container img {
    width: 86px;
    height: 40px;
    margin-right: 20px;
}

.joystick-container h3 {
    font-size: 45px;
    font-weight: 700;
    color: #0B0223;
    margin: 0 0;
}

.joystick-container span {
    color: #FF42A5;
}

.navbar-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-text p {
    margin: 0 0;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
    margin-right: 32px;
}

.navbar-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 262px;
    height: 56px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}

.navbar-btn p {
    margin-right: 0;
}

.navbar-btn img {
    width: 34px;
    height: 24px;
}

.banner-section {
    padding: 19px 240px 55px 240px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-text h2 {
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0px;
}

.banner-text h1 {
    margin: 0px 0px 14px 0px;
    font-size: 96px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-icons p {
    display: flex;
    align-items: center;
    font-size: 20px;
    color: #534C64;
    font-weight: 500;
    margin: 0 0 17px 0;
}

.banner-icons img {
    width: 24px;
    height: 24px;
    margin-right: 5px;
}

.banner-img img {
    width: 580px;
    height: 560px;
}

.banner-btn {
    margin-top: 24px;
}

.banner-btn button {
    padding: 21px 40px;
    text-transform: uppercase;
    border-radius: 48px;
    font-size: 20px;
    font-weight: 600;
    color: white;
    border: 1px solid transparent;
}

#btn1 {
    margin-right: 24px;
    background-color: #FF42A5;
}

#btn2{
    background-color: #4EC5F7;
}