body {
    padding: 0px;
    margin: 0px;
}

.navbar {
    display: flex;
    padding: 44px 240px;
    justify-content: space-between;
    align-items: center;
}

.joystick-container {
    display: flex;
    justify-items: center;
    align-items: center;
}

.joystick-container img {
    width: 86px;
    height: 40px;
    margin-right: 20px;
}

.joystick-container h3 {
    font-size: 45px;
    font-weight: 700;
    color: #0B0223;
    margin: 0 0;
}

.joystick-container span {
    color: #FF42A5;
}

.navbar-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-text p {
    margin: 0 0;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
    margin-right: 32px;
}

.navbar-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 262px;
    height: 56px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}
.navbar-btn p{
    margin-right: 0;
}